@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html {
  margin: 0%;
  padding: 0%;
}
.connect {
  position: relative;
  left: -30rem;
  top: 8rem;
  color: red;
  animation: wiggle 2s infinite;
}
.knowmore {
  margin-bottom: 5rem;
}
.container1 {
  /* width:98vw; */
  width: 80rem;
  height: 100vh;
  /* background-color: aqua; */
  margin-left: -1.95vw;
  padding-top: -1vh;
  margin-right: -0.6vw;
  background-image: url("../assets/snap4.jpg");
  background-size: cover;
}
button > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.mailbutton {
  margin-left: -38rem;
  position: relative;
  top: 14rem;
}
.navbar {
  position: sticky;
  padding-top: 1vh;
  width: 80rem;
  height: 10vh;
  opacity: 0.5;
  background-color: pink;
  /* display: flex; */
}
button {
  cursor: pointer;
  background-color: #f7200d;
  color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 10vw;
  height: 8vh;
  border: none;
}
.profileicon {
  color: red;
  margin-top: 5vw;
  position: relative;
  margin-left: 30vw;

  font-size: 4rem;
  padding: 1vw;
}
.profileicon > button {
  border: 1px solid black;
  /* border-color: black; */
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-image: url("../assets/profile.jpg");
  background-size: cover;
}
.subnav {
  float: right;
}
.nametitle {
  float: left;
}
.heading {
  color: white;
  /* line-height: 2; */
  font-size: 4rem;
  margin-left: 45vw;
  margin-top: 3vh;
  padding-top: 3vh;
  font-family: "Lobster", cursive;
}
.heading > pre {
  font-family: "Lobster", cursive;
}
#description > p {
  padding-top: 4vw;
  padding-right: 4vw;
  /* padding-bottom: 28vh; */
  padding-left: 4vw;
  margin-left: 10vw;
  font-size: 2rem;
  color: black;
  font-family: "Satisfy", cursive;
}
#description > a {
  margin-left: 40vw;
  font-size: 2rem;
  text-decoration: none;
  margin-top: -3vh;
}
#description {
  margin-bottom: 10vh;
}
.skillheading {
  margin-left: 39vw;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}
@keyframes mymove {
  from {
    left: 0vw;
  }
  to {
    left: 40vw;
  }
}
@keyframes mymoveright {
  from {
    right: 0vw;
  }
  to {
    right: 40vw;
  }
}
/* .skillleft {
  width: 15vw;
  height: 6vh;
  border-radius: 50%;
  background-color: rgb(209, 106, 106);
  font-weight: bold;
  position: relative;
  animation: mymove 4s infinite;
  text-align: center;
  vertical-align: middle;
  padding-top: 1.5vh;
  color: white;
} */
.skilllright {
  float: right;
  width: 19vw;
  height: 6vh;
  /* border-radius: 50%; */
  background-color: rgb(235, 83, 83);
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding-top: 1.5vh;
  color: white;
  animation: wiggle 2s infinite;
}
.expbox {
  width: 24vw;
  height: 36vh;
  background-color: fast white;
  margin: 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-left: 2vw;
}
.expbox:hover {
  box-shadow: 0 12px 20px 0 rgba(182, 78, 78, 0.2);
}
.expbox > h2 {
  margin-bottom: 0vw;
}
#experienced {
  margin-top: 15vh;
}
#education {
  height: 60vh;
  background-image: url("../assets/myedu.png");
  background-size: cover;
}
.duration {
  margin-left: -9vw;
}
.edubox {
  width: 24vw;
  height: 36vh;
  /* border-radius: 10%; */
  background-color: white;
  margin: 2vw;
  box-shadow: 0 4px 8px 0 rgba(217, 205, 205, 0.2);
  transition: 0.3s;
  padding-left: 2vw;
}
.edubox:hover {
  /* width: 28vw; */
  /* height:38vh; */
  color: white;
  border-radius: 4%;
  box-shadow: 0 20px 30px 0 rgba(182, 78, 78, 0.2);
  background-color: #c16c8e;
}
.year {
  margin-top: 3rem;
  margin-left: 5rem;
}
#contact {
  height: 120vh;
  background-image: url("../assets/myedu.png");
  background-size: cover;
}
.inputform {
  width: 50vw;
  height: 36vh;
  background-color: white;
  margin-left: 16vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-left: 2vw;
  position: absolute;
  z-index: 9;
}
.footer {
  width: 99vw;
  margin-left: -1vw;
  height: 46vh;
  background-color: fast rgb(194, 36, 36);
  transition: 0.3s;
  position: absolute;
  z-index: 9;
  background-color: #343434eb;
  display: flex;
}
.footer > div {
  color: rgb(152, 149, 149);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  /* padding: 8vw; */
  vertical-align: bottom;
  padding-top: 15vh;
}
.footerpart {
  margin-left: 10vw;
}
.footerpart > span {
  margin-top: 5vh;
  color: white;
  font-size: 1.5rem;
  /* font-style: italic; */
}
.schoolname {
  visibility: hidden;
}
.schoolname:hover {
  visibility: visible;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
  font-size: 12px;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
