<!-- https://demo.themefisher.com/kross/index.html -->
<div class="container1">
  <div class="navbar">
    <button matbutton class="nametitle">Navodit</button>
    <div class="subnav">
      <button matbutton><a href="#description">About</a></button>
      <button matbutton><a href="#experienced">Experience</a></button>
      <button matbutton><a href="#skills">Skills</a></button>
    </div>
  </div>
  <div class="heading">
    <span class="connect">Let's Connect</span>
    <button class="mailbutton">
      <a
        href="mailto:navoditpathak1999@gmaail.com?subject=PortFolio-Connect&message=your good words here"
        >E-mail me</a
      >
    </button>
    <pre>
      Hi ! 
      I am Navodit,
      a Web Developer
    </pre>
  </div>
  <!-- <div class="profileicon">
   
    <button class="imgsec"></button>
  </div> -->
</div>
<div id="description">
  <p>
    I am an innovative and experienced Web Developer ,<br />
    with a very good hold in Angular .<br />
    I have Developed more than thousands of functional UI's,<br />
    multiple projects, at each stage from development to production.
  </p>
  <!-- <pre></pre> -->
  <a href="/about" class="knowmore"> Know more </a>
</div>
<div id="skills">
  <h1 class="skillheading">Skills</h1>
  <div style="display: flex; margin-left: 38vw; flex-direction: column">
    <div class="skilllright">HTML</div>
    <div class="skilllright">Angular</div>
    <div class="skilllright">CSS</div>
    <div class="skilllright">Bootstrap</div>
    <div class="skilllright">Aws cloud</div>
    <div class="skilllright">Typescript</div>
    <div class="skilllright">Javascript</div>
  </div>
</div>
<div id="experienced">
  <h1 class="skillheading">Experience</h1>
  <div style="display: flex; padding-left: 7vw">
    <div class="expbox">
      <img src="../assets/icon-1.png" />
      <span class="duration">May 2017-April 2021</span>
      <span><h2>Web Developer</h2></span>
      <span>Team CSI</span>
    </div>
    <div class="expbox">
      <img src="../assets/icon-2.png" />
      <span class="duration">May 2021-July 2021</span>
      <span><h2>Content Designer</h2></span>
      <span>Team Everest</span>
    </div>
    <div class="expbox">
      <img src="../assets/icon-3.png" />
      <span class="duration">August 2021-Present</span>
      <span><h2>Project Engineer</h2></span>
      <span>Wipro Technologies</span>
    </div>
  </div>
</div>
<div id="education">
  <h1 class="skillheading">Education</h1>
  <div style="display: flex; padding-left: 7vw">
    <div class="edubox">
      <span class="year">2021</span><br />
      <span style="display: flex"
        ><img
          src="../assets/mytest.png"
          style="
            width: 3rem;
            margin-right: 1rem;
            height: 3rem;
            margin-top: 1.5rem;
          "
        />
        <h2>Bachelor's of Technology</h2></span
      >
      <span>Abdul Kalam Technical University ,Lucknow</span>
    </div>
    <div class="edubox">
      <span class="year">2016</span><br />
      <span style="display: flex"
        ><img
          src="../assets/mytest.png"
          style="
            width: 3rem;
            margin-right: 1rem;
            height: 3rem;
            margin-top: 1.5rem;
          "
        />

        <h2 style="position: relative; top: 1rem">Senior Secondary</h2></span
      ><br /><br />
      <span>BRB Model School ,Budaun</span>
    </div>
    <div class="edubox">
      <span class="year">2014</span><br />
      <span style="display: flex"
        ><img
          src="../assets/mytest.png"
          style="
            width: 3rem;
            margin-right: 1rem;
            height: 3rem;
            margin-top: 1.5rem;
          "
        />

        <h2 style="position: relative; top: 1rem">Higher Secondary</h2></span
      ><br /><br />
      <span>BRB Model School ,Budaun</span>
    </div>
  </div>
  <div id="contact">
    <h1 class="skillheading">Contact Info</h1>
    <!-- <div class="inputform"> -->
    <div class="background">
      <div class="container">
        <div class="screen">
          <div class="screen-header">
            <div class="screen-header-left">
              <div class="screen-header-button close"></div>
              <div class="screen-header-button maximize"></div>
              <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>Let's</span>
                <span>Connect</span>
              </div>
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="NAME" />
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="EMAIL" />
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="CONTACT NO" />
                </div>
                <div class="app-form-group message">
                  <input class="app-form-control" placeholder="MESSAGE" />
                </div>
                <div class="app-form-group buttons" style="display: flex">
                  <button class="app-form-button">CANCEL</button>
                  <button class="app-form-button">SEND</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="credits">
          <!-- <a class="credits-link" href="https://dribbble.com/shots/2666271-Contact" target="_blank">
            <svg class="dribbble" viewBox="0 0 200 200">
              <g stroke="#ffffff" fill="none">
                <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
                <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
                <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
              </g>
            </svg>
            
          </a> -->
        </div>
      </div>
    </div>

    <!-- </div> -->
  </div>
  <div class="footer">
    <div class="footerpart">
      Email <br />
      <span>navoditpathak1999@gmail.com</span>
    </div>
    <div class="footerpart">
      Phone<br />
      <span>9560499838</span>
    </div>
    <div class="footerpart">
      Address<br />
      <span> H.no 69 , Kamla Nehru Nagar , Ghaziabad</span>
    </div>
  </div>
</div>
